<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Categories</title>
    <link rel="stylesheet" href="/abc/css/login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST" action="">
            <h3>Add new Category</h3>
            <input type="text" name="category_name" placeholder="Category"/>
            <button>Add Category</button>
            
        </form>
        </div>
      </div>
</body>
</html>