<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="/abc/css/resetpassword.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST" action="">
                <input type="password" name="password" placeholder="Enter new password"/>
                <input type="password" name="repassword" placeholder="Re-enter new password"/>
                <button>Confirm</button>
            </form>
        </div>
      </div>
</body>
</html>