<!DOCTYPE html>
<html>
<head>
	<title>Sellers</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #BCD6CA">

	<h1>Inbox</h1><br>


	<table id="myTable">

		 <% 
			msg.forEach( function(s){ %>
			<tr>
				<td><%= s.name %>
					<br>
					
				
				<%= s.body %> <br>
					<a href="/buyer/message/<%=s.user_id%>"><button style="background-color: lightblue;">Details</button></a>
				</td>
				
			</td>

		<%
			}); 
		%> 
		
	</table>
	<br>

	<a href="/buyer/buyerController"><button style="background-color: #5AA9D6">Back</button></a>
</body>
</html>