<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/abc/css/register.css">
</head>
<body>
    <div class="register-page">
      
        <div class="form">
          <h2 style="color: #595955; " >Password doesn't matched!</h2>
          <button><a href="/home/registration" style="text-decoration: none;"">Try Again</a></button>
        </div>
      </div>
</body>
</html>