<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/abc/css/register.css">
</head>
<body>
    <div class="register-page">
        <div class="form">
          <form class="register-form">
            <input type="text" name="fullname" placeholder="Full Name"/>

            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="password" name="repassword" placeholder="retype-passowrd"/>
            <input type="text" name="email" placeholder="email address"/>
            <button>Register</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>