<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/abc/css/register.css">
</head>
<body>
    <div class="register-page">
      
        <div class="form">
          <h2 style="color: #595955;">Registration</h2>
          <form class="register-form" method="POST" action="">
            <input type="text" name="full_name" placeholder="Full Name" required/>

            <input type="text" name="username" placeholder="username" required/>
            <input type="password" name="password" placeholder="password" required/>
            <input type="password" name="repassword" placeholder="retype-passowrd" required/>
            <input type="email" name="email" placeholder="email address"/>
            <input type="text" name="contact" placeholder="Contact No"/>
            <input type="text" name="address" placeholder="Address"/>
            <p style="text-align: left;">Register as:</p>
            <input type="text" name="user_roll" placeholder="Buyer/Seller" required>
            <button>Register</button>
            <p class="message">Already registered? <a href="/home/login">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>